body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

.container {
    width: 90%;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
    color: #444;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

p {
    line-height: 1.6;
}

.logo {
    width: 150px;
    height: auto;
}